@media only screen and (max-width: 500px) {
    .outageEndTimeColumn {
        display: none !important;
    }  
}

.detailsBtn {
    width: 50%;
}

.reportActions {
    margin-top: -30px;
}

.pageTitle {
    margin: 10px auto; 
}
